
<div class="comments-container-outer">

<div class="add-comment-section">
   <button type="button" class="toggle-emoji" (click)="toggleEmojiPicker()"><i-feather name="smile"></i-feather></button>
  <input  type="text" [(ngModel)]="text" class="input_comment"  />
  <input type="button" value="Comment" class="addbtn btn_my" [disabled]="!text" (click)="addComment()" />
 <!-- <emoji-input class="input_comment" [(model)]="text" [textArea]="{cols: 40, rows: 5}"  (setPopupAction)="setPopupAction($event)"> </emoji-input>-->
</div>
  <emoji-mart class="emoji-mart" set="emojione" (emojiSelect)="addEmoji($event)" *ngIf="showEmojiPicker" title="Pick smile..."></emoji-mart>

<div class="message_or_error">{{statusMessage}}</div>

<mat-list>
  <mat-list-item *ngFor="let comm of comments" class="comment-card">

<div class="meta">
  <p [ngClass]="(article_author_id1===comm.authorID)?'user-name-author':'user-name'"><a class="link_person" (click)="redirectToProfile(comm.authorID)" >{{comm.authorLogin}}</a></p>
    <span class="time">
      {{comm.timePosted | date: 'dd/MM/yyyy h:mm'}}
    </span>
</div>
    <div class="comment_text-wrp">
      <p class="comment_text">{{comm.contents}}</p>
    </div>
  </mat-list-item>
</mat-list>
</div>
