<div class="container">
  <img alt="Meetup" src="../../assets/images/meetup1.jpg">
  <button class="btn">Join meetup</button>
</div>
<div class="topics">
  <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile>
      <mat-card class="topic-card">
        <img alt="Shopping" mat-card-image src="../../assets/images/shopping.JPG">
        <mat-card-title>Shopping</mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="topic-card">
        <img alt="Games" mat-card-image src="../../assets/images/games.JPG">
        <mat-card-title>Games</mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="topic-card">
        <img alt="Music" mat-card-image src="../../assets/images/music.JPG">
        <mat-card-title>Music</mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="topic-card">
        <img alt="Travel" mat-card-image src="../../assets/images/travel.JPG">
        <mat-card-title>Travel</mat-card-title>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>

