<mat-form-field>
  <mat-label>Select an option</mat-label>
  <mat-select>
    <mat-option *ngFor="let f of filtersList" [value]="f">
    {{f.name}}
  </mat-option>
  </mat-select>
</mat-form-field>
<form  [formGroup]='filterForm' class="flex-form">
  <mat-form-field class="col-xs-12 col-12 col-md-2 orm-group" appearance="outline">
    <mat-label>Language</mat-label>
    <mat-select formControlName="language">
      <mat-option *ngFor="let l of languagesList" [value]="l">
        {{l.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="col-xs-12 col-12 col-md-2 form-group" appearance="outline">
    <mat-label>Topic</mat-label>
          <mat-select formControlName="topic">
            <mat-option *ngFor="let t of topicsList" [value]="t">
              {{t.name}}
            </mat-option>
          </mat-select>
  </mat-form-field>
  <mat-form-field class="col-xs-12 col-12 col-md-2 form-group" appearance="outline">
        <mat-label>Containing string</mat-label>
        <input matInput formControlName="substring" placeholder="Containing string">
        <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <div class="col-xs-12 col-12 col-md-2 form-group">
    <input type="text"
               placeholder="Range of dates"
               class="form-control datepicker"
               bsDaterangepicker
               formControlName="date">
  </div>
  <div class="col-xs-12 col-12 col-md-2 form-group" appearance="outline">
  <a>Rate from :</a><ngb-rating [(rate)]="rateFrom" formControlName="rateFrom" max="5"></ngb-rating>
    <br>
    <a>Rate to :</a><ngb-rating [(rate)]="rateTo" formControlName="rateTo" max="5"></ngb-rating>
  </div>
  <div class="col-xs-12 col-12 col-md-2 form-group" >
  <button mat-raised-button color="primary" (click)="onApply()">Apply</button><button mat-raised-button color="warn" (click)="openDialog()">Save</button>
  </div>
</form>

