
<app-sidebar></app-sidebar>
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSaveMeetup()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput
             type="text"
             [ngModel]="meetup?.title"
             formControlName="title"
             placeholder="Meetup Title">
      <mat-error *ngIf="form.controls['title'].errors?.required">Please enter a meetup title.</mat-error>
      <mat-error *ngIf="form.controls['title'].errors?.minLength">You have less than 10 characters</mat-error>

    </mat-form-field>
    <div class="row">
      <div class="col-xs-12 col-12 col-sm-8 col-md-6 form-group">
        <mat-form-field appearance="outline">
          <input matInput  [ngModel]="meetup?.startDate"
                 [min]="minDate" [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <span class="filler"></span>
      <div class="col-xs-12 col-12 col-sm-6 col-md-4">
        <timepicker  [ngModel]="meetup?.startDate || minDate"
                     [minuteStep]="15"
                     formControlName="time"
        ></timepicker>
        <mat-error *ngIf="form.hasError('minutesValidator')">
          Minutes should be "00","15","30","45
        </mat-error>
      </div>
    </div>
    <div class="row">
      <mat-form-field class="col-xs-12 col-12 col-sm-6 col-md-4 form-group" appearance="outline">
        <mat-select
          placeholder="Duration"
          formControlName="durationMinutes">
          <mat-option
            *ngFor="let duration of durations"
            [value]="duration">
            {{duration.title}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['durationMinutes'].errors?.required">Please choose a duration.</mat-error>
      </mat-form-field>
      <mat-form-field class="col-xs-12 col-12 col-sm-6 col-md-4 form-group" appearance="outline">
        <mat-select
          placeholder="Language"
          formControlName="language">
          <mat-option
            *ngFor="let language of languagesList"
            [value]="language">
            {{language.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['language'].errors?.required">Please choose language.</mat-error>

      </mat-form-field>

      <mat-form-field class="col-xs-12 col-12 col-sm-6 col-md-4 form-group" appearance="outline">
        <mat-select
          placeholder="Topic"
          formControlName="topic">
          <mat-option
            *ngFor="let topic of topicsList"
            [value]="topic">
            {{topic.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['topic'].errors?.required">Please choose a topic.</mat-error>

      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
        <input matInput
               [ngModel]="meetup?.minAttendees"
               type="number"
               min="1"
               formControlName="minAttendees" placeholder="Min attendees"/>
        <mat-error *ngIf="form.controls['minAttendees'].errors?.required">Amount is required.</mat-error>
      </div>
      <span class="filler"></span>
      <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
        <input matInput
               [ngModel]="meetup?.maxAttendees"
               type="number"
               formControlName="maxAttendees" placeholder="Max attendees"[errorStateMatcher]="errorMatcher">
        <mat-error *ngIf="form.hasError('amountAttendeesInvalid')">
          Maximum amount of attendees invalid
        </mat-error>
        <mat-error *ngIf="form.controls['maxAttendees'].errors?.required">Amount is required.</mat-error>
      </div>

    </div>
    <mat-form-field>
      <textarea matInput
                [ngModel]="meetup?.description"
                rows="4"
                formControlName="description"
                placeholder="Meetup Description"></textarea>
      <mat-error *ngIf="form.controls['description'].errors?.required">Description is required</mat-error>
      <mat-error *ngIf="form.controls['description'].errors?.minLength">You have less than 10 characters</mat-error>

    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Save</button>
  </form>
</mat-card>

