<app-sidebar></app-sidebar>
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSaveMeetup()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput
             type="text"
             [ngModel]="meetup?.title"
             formControlName="title"
             placeholder="Meetup Title">
      <mat-error *ngIf="form.get('title').invalid">Please enter a meetup title.</mat-error>
    </mat-form-field>
    <div class="row">
      <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
<!--        <input type="text" class="form-control mb-3" placeholder="Datepicker" bsDatepicker formControlName="date" />-->
        <mat-form-field>
        <input matInput  [ngModel]="meetup?.startDate"
               min="minDate" [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <span class="filler"></span>
      <div class="col-xs-12 col-12 col-sm-6 col-md-4">
        <timepicker  [ngModel]="meetup?.startDate" [minuteStep]="15" formControlName="time"></timepicker>
      </div>
    </div>
<!--    <mat-form-field>-->
<!--    <input matInput-->
<!--           [ngModel]="meetup?.startDate"-->
<!--           type="datetime-local"-->
<!--           formControlName="startDate"-->
<!--           placeholder="Datetime"/>-->
<!--    </mat-form-field>-->
    <div class="row">
      <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
        <mat-select
          placeholder="Duration"
          formControlName="durationMinutes"
          required >
          <mat-option
            *ngFor="let duration of durations"
            [value]="duration">
            {{duration.title}}
          </mat-option>
        </mat-select>
<!--        <mat-error *ngIf="form.get('durationMinutes').invalid">Please choose a duration of meetup</mat-error>-->
      </div>

      <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
        <mat-select
          placeholder="Language"
          formControlName="language"
          required >
          <mat-option
            *ngFor="let language of languagesList"
            [value]="language">
            {{language.name}}
          </mat-option>
        </mat-select>
<!--        <mat-error *ngIf="form.get('language').invalid">Please choose a language of meetup</mat-error>-->
      </div>

      <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
        <mat-select
          placeholder="Topics"
          formControlName="topics"
          required
          multiple>
          <mat-option
            *ngFor="let topic of topicsList"
            [value]="topic">
            {{topic.name}}
          </mat-option>
        </mat-select>
<!--        <mat-error *ngIf="form.get('topics').invalid">Please choose a topics of meetup</mat-error>-->
      </div>
      </div>
    <div class="row">
      <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
        <input matInput
               [ngModel]="meetup?.minAttendees"
               type="number"
               min="1"
               formControlName="minAttendees" placeholder="Min attendees"/>
      </div>
      <span class="filler"></span>
      <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
        <input matInput
               [ngModel]="meetup?.maxAttendees"
                type="number"
               min="1"
               formControlName="maxAttendees" placeholder="Max attendees"/>
      </div>
    </div>

    <mat-form-field>
      <textarea matInput
                [ngModel]="meetup?.description"
                rows="4"
                formControlName="description"
                placeholder="Meetup Description"></textarea>
      <mat-error *ngIf="form.get('description').invalid">Please enter a meetup description.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </form>
</mat-card>
