<app-sidebar></app-sidebar>
<main>
  <div class="content">
    <form>
      <div class="user__personal personal-active">
        <div class="user__change">
          <div class="form__user">
            <div class="change__form">
              <p class="change__form--text">Login:</p>
              <p class="form--text">{{login}}</p>
            </div>
            <div class="change__form">
              <p class="change__form--text">Email:</p>
              <p class="form--text" >{{email}}</p>
            </div>
          </div>
        </div>
        <div class="user__badges">
          <star-rating class="user__img--change" [value]="star" checkedcolor="gold" uncheckedcolor="#dddddd" size="24px"
                       readonly="true"></star-rating>
          <div class="badges--header">
            <img class="header--img" src="../../assets/images/crown.svg">
            <span class="header--text">BADGES</span>
          </div>
          <div class="badges">
            <span *ngIf="badgeList.length<1" class="badges--text">this user haven`t badges</span>
            <div class="badge" *ngFor="let badge of badgeList">
              <img class="badge--img" src="../../assets/images/medal.svg">
              <span class="badges--text">{{badge}}</span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</main>
