<app-sidebar></app-sidebar>
<main>
  <div class="content">
    <form (ngSubmit)="onSubmit()" [formGroup]="changeForm">
      <div class="user__personal personal-active">
        <div class="user__change">
          <div class="form__user">
            <mat-form-field class="form__input">
              <input matInput type="text" formControlName="firstName" pattern="[A-Z]{1}[a-z]{2,20}"
                     placeholder="First name"/>
            </mat-form-field>
            <mat-form-field class="form__input">
              <input matInput type="text" formControlName="lastName" pattern="[A-Z]{1}[a-z]{2,20}"
                     placeholder="Last name"/>
            </mat-form-field>
          </div>
          <div class="form__user">
            <mat-form-field class="form__input">
              <input matInput formControlName="login" type="text" placeholder="Login">
            </mat-form-field>
            <mat-form-field class="form__input">
              <input matInput placeholder="Email" formControlName="email"
                     [errorStateMatcher]="matcher">
              <mat-error
                *ngIf="changeForm.get('email').hasError('email') && !changeForm.get('email').hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="changeForm.get('email').hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <mat-form-field class="form__input area">
            <textarea class="form__textarea" formControlName="about" matInput placeholder="About"></textarea>
          </mat-form-field>
          <div class="form__user">
            <mat-form-field class="form__input">
              <mat-select placeholder="Languages" formControlName="languages" multiple>
                <mat-select-trigger>{{changeForm.get('languages').value ? (changeForm.get('languages').value[0] ? changeForm.get('languages').value[0].name : '') : ''}}
                  <span *ngIf="changeForm.get('languages').value?.length > 1" class="example-additional-selection">
              (+{{changeForm.get('languages').value.length - 1}} {{changeForm.get('languages').value?.length === 2 ? 'other' : 'others'}}
                    )
              </span>
                </mat-select-trigger>
                <mat-option *ngFor="let item of languages; let i = index" [value]="item">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="form__group">
              <button [disabled]="!changeForm.valid" class="form__button" disabled  type="submit"><p *ngIf="!loading">Change profile</p>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
              </button>
            </div>
          </div>
        </div>
        <div class="user__badges">
          <star-rating class="user__img--change" value="4" checkedcolor="gold" uncheckedcolor="#dddddd" size="24px"
                       readonly="true" (rate)="onRate($event)"></star-rating>
          <div class="badges--header">
            <img class="header--img" src="../../assets/images/crown.svg">
            <span class="header--text">BADGES</span>
          </div>
          <div class="badges">
            <span *ngIf="badgeList.length<1" class="badges--text">participate in meetups and get achievements</span>
            <div class="badge" *ngFor="let badge of badgeList">
              <img class="badge--img" src="../../assets/images/medal.svg">
              <span class="badges--text">{{badge}}</span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</main>
