<app-sidebar></app-sidebar>
<main>
  <div class="content">
    <form (ngSubmit)="onSubmit()" [formGroup]="changeForm">
      <div class="user__personal personal-active">
        <div class="user__change">
          <div class="form__user">
            <div class="change__form">
              <p class="change__form--text">Login:</p>
              <p class="form--text">{{login}}</p>
            </div>
            <div class="change__form">
              <p class="change__form--text">Email:</p>
              <p class="form--text" >{{email}}</p>
            </div>
          </div>
          <div class="form__user">
            <mat-form-field *ngIf="edited" class="form__input">
              <input matInput type="text" formControlName="firstName" pattern="[A-Z]{1}[a-z]{2,20}"
                     placeholder="First name"/>
            </mat-form-field>
            <mat-form-field *ngIf="edited" class="form__input">
              <input matInput type="text" formControlName="lastName" pattern="[A-Z]{1}[a-z]{2,20}"
                     placeholder="Last name"/>
            </mat-form-field>
            <div *ngIf="!edited" class="change__form">
              <p class="change__form--text">First Name:</p>
              <p class="form--text">{{firstName}}</p>
            </div>
            <div *ngIf="!edited" class="change__form">
              <p class="change__form--text">Last Name:</p>
              <p class="form--text">{{lastName}}</p>
            </div>
          </div>
          <div *ngIf="!edited" class="change__form">
            <p class="change__form--text">about:</p>
            <p class="form--text" >{{about}}</p>
          </div>
          <div *ngIf="!edited" class="form__user">
            <div class="change__form">
              <p class="change__form--text">languages:</p>
              <p class="form--text" *ngFor="let item of langListNames" >{{item}}</p>
            </div>
          </div>
          <mat-form-field *ngIf="edited" class="form__input area">
            <textarea class="form__textarea" formControlName="about" matInput placeholder="About"></textarea>
          </mat-form-field>
          <div *ngIf="edited"  class="form__user last">
            <mat-form-field class="form__input">
              <mat-select placeholder="Languages" [(value)]="selectedLanguages" formControlName="languages" multiple>
                <mat-select-trigger>{{changeForm.get('languages').value ? (changeForm.get('languages').value[0] ? changeForm.get('languages').value[0].name : '') : ''}}
                  <span *ngIf="changeForm.get('languages').value?.length > 1" class="example-additional-selection">
              (+{{changeForm.get('languages').value.length - 1}} {{changeForm.get('languages').value?.length === 2 ? 'other' : 'others'}}
                    )
              </span>
                </mat-select-trigger>
                <mat-option *ngFor="let item of languages; let i = index" [value]="item">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="form__group">
              <button [disabled]="!changeForm.valid" class="form__button" disabled type="submit">
                <p *ngIf="!loading">Change information</p>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
              </button>
            </div>
          </div>
          <button *ngIf="!edited" class="edit__button" (click)="onEdit()" type="button">EDIT PROFILE</button>
          <button *ngIf="edited" class="cancel__button" (click)="onCancel()" type="button">CANCEL</button>
        </div>
        <div class="user__badges">
          <star-rating class="user__img--change" [value]="star" checkedcolor="gold" uncheckedcolor="#dddddd" size="24px"
                       readonly="true"></star-rating>
          <div class="badges--header">
            <img class="header--img" src="../../assets/images/crown.svg">
            <span class="header--text">BADGES</span>
          </div>
          <div class="badges">
            <span *ngIf="badgeList.length<1" class="badges--text">participate in meetups and get achievements</span>
            <div class="badge" *ngFor="let badge of badgeList">
              <img class="badge--img" src="../../assets/images/medal.svg">
              <span class="badges--text">{{badge}}</span>
            </div>
          </div>
        </div>
      </div>
    </form>

    <mat-tab-group>
      <mat-tab label="Created Meetups">
        <mat-accordion multi="true" *ngIf="speakerMeetups.length > 0">
          <mat-expansion-panel *ngFor="let meetup of speakerMeetups">
            <mat-panel-title>
              {{ meetup.title }}
            </mat-panel-title>
            <mat-panel-description>
              {{ meetup.startDate }}
            </mat-panel-description>
            <p>{{ meetup.description }}</p>
            <mat-action-row>
              <a mat-button color="primary" [routerLink]="['/meetup-edit', meetup.id]">EDIT</a>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
      <mat-tab label="Joined Meetups"> Content 2 </mat-tab>
    </mat-tab-group>
  </div>

</main>
