<div class="container">
  <img src="../../assets/images/meetup1.jpg" alt="Meetup">
  <button class="btn">Join meetup</button>
</div>
<div class="topics">
  <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile>
      <mat-card class="topic-card">
        <img mat-card-image src="../../assets/images/shopping.JPG" alt="Shopping">
        <mat-card-title>Shopping</mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="topic-card">
        <img mat-card-image src="../../assets/images/games.JPG" alt="Games">
        <mat-card-title>Games</mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="topic-card">
        <img mat-card-image src="../../assets/images/music.JPG" alt="Music">
        <mat-card-title>Music</mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="topic-card">
        <img mat-card-image src="../../assets/images/travel.JPG" alt="Travel">
        <mat-card-title>Travel</mat-card-title>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>

