<div class="hamburger hamburger--squeeze" (click)="hamburger()">
  <div class="hamburger-box">
    <div class="hamburger-inner"></div>
  </div>
</div>
<nav class="sidebar">
  <ng-container *ngFor="let bar of SIDEBAR_DATA">
  <li *ngIf="bar.role" [ngClass]="{sidebar__icons:true,sidebar__icons__active:bar.active}">
      <img class="icon" [src]="bar.active ? bar.activeSRC : bar.noActiveSRC" [routerLink]="bar.routerLink" [alt]="bar.alt"/>
  </li>
  </ng-container>
<!--*ngIf="speaker" -->
  <li class="sidebar__icons">
    <button mat-icon-button routerLink="/meetup-create">
      <mat-icon>fiber_new</mat-icon>
    </button>
  </li>

    <!--&lt;!&ndash;    </button>-->
<!--  *ngIf="speaker" -->
  <li class="sidebar__icons">
    <button mat-icon-button routerLink="/meetup-list">
      <mat-icon>dynamic_feed</mat-icon>
    </button>
  </li>
  <li class="sidebar__icons">
    <button mat-icon-button routerLink="/article-list">
      <mat-icon color="white">list</mat-icon>
    </button>
  </li>
</nav>
