$color_4: inherit;
$background_color_3: #322b6b;
$background_color_4: transparent;
$background_color_5: #b3b4b6;

.content {
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(153, 163, 174, 0.06);
  border-radius: 4px;
  margin: 62px 64px 0 148px;
  height: 75vh;
  overflow-y: auto;
}

.content::-webkit-scrollbar {
  width: 8px;
  background: #fdfeff;
  mix-blend-mode: normal;
  border-radius: 8px;
}

.content::-webkit-scrollbar-thumb {
  background-color: #d7dce9;
  border-radius: 6px;
}

@media (max-width: 900px) {
  .content {
    margin-left: 4px;
    margin-right: 4px;
  }
}
table {
  width: 100%;
}
