<div>
  <main>
    <div class="content">
      <form (ngSubmit)="onSubmit()" [formGroup]="feedbackForm">
        <p class="form__headline">Rate your speaker!</p>
        <mat-form-field class="form__input">
          <mat-slider
            thumbLabel
            [displayWith]="formatLabel"
            tickInterval="1"
            min="1"
            max="5"></mat-slider>
        </mat-form-field>
        <mat-form-field class="form__textarea">
          <textarea cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="500" matInput formControlName="commentary" type="text"
                    placeholder="Commentary"></textarea>
        </mat-form-field>
        <div class="form__group">
          <button class="form__button" type="submit">Save</button>
        </div>
      </form>
    </div>
  </main>
</div>
