<div>
  <main>
    <div class="content">
      <form (ngSubmit)="onSubmit()" [formGroup]="feedbackForm">
        <p class="form__headline">Rate your speaker!</p>
        <div class="form__input">
          <star-rating class="form__star" value="0" checkedcolor="gold" uncheckedcolor="#dddddd" size="40px"
                       readonly="false" (rate)="onRate($event)"></star-rating>
        </div>
        <mat-form-field class="form__textarea">
          <textarea cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="500" matInput  type="text"
                    placeholder="Commentary" formControlName="feedback" class="text--area"></textarea>
        </mat-form-field>
        <div class="form__group">
          <button [disabled]="!enable" class="form__button" type="submit">RATE</button>
        </div>
      </form>
    </div>
  </main>
</div>
