<app-sidebar></app-sidebar>
<main>
  <div class="content">
    <form>
      <p class="form__headline">Notifications</p>
      <div class="cardList">
        <p class="info-text mat-body-2" *ngIf="notifications.length <= 0 && !isLoading">You have no unread notifications!</p>
        <ng-container *ngFor="let notification of notifications">
          <mat-card class="cardListItem">
            <div fxLayout="row">
              <div class="block" [innerHTML]=notification.message></div>
              <button mat-icon-button class="close-button" (click)="readNotification(notification)">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </mat-card>
        </ng-container>
      </div>
    </form>
  </div>
</main>
