<div>
  <h1 class="form__headline"> Login, my user: </h1>
  <main>
    <div class="content">
      <!--<form>-->
        <p class="form__headline">Login</p>
        <input class="form__input" matInput [(ngModel)]="login" type="text"/>
        <p class="form__headline">Password</p>
        <input class="form__input" matInput [(ngModel)]="password" type="password"/>
        <a href='reset.html' class="form__help">Forgot password?</a>
        <button class="form__button" (click)="do_login()">Sign In</button>
      <!--</form>-->
    </div>
  </main>
</div>
