<mat-spinner *ngIf="isLoading"></mat-spinner>
<app-sidebar></app-sidebar>
<main *ngIf="!isLoading">
  <div class="content">
    <form [formGroup]="deactivateForm">
      <p class="form__headline">Complains to <a class="user__link">{{currentUser}}</a></p>
      <div class="cardList">
        <ng-container *ngFor="let user of userComplaints">
          <mat-card class="cardListItem">
            <div class="block">
              <mat-card-subtitle fxLayout="row" class="speakerName">
                Complains from
                <a class="user__link" (click)="takeUserRole(user.idUserFrom)">user</a>
              </mat-card-subtitle>
            </div>
            <mat-card-title fxLayout="row">
              <p>{{user.content}}</p>
            </mat-card-title>
          </mat-card>
        </ng-container>
      </div>
    </form>
    <div class="deactivate__user">
      <mat-form-field class="form__input area">
        <textarea formControlName="feedback" class="form__textarea" matInput placeholder="Feedback"></textarea>
      </mat-form-field>
      <button mat-button *ngIf="currentUserIsActive" class="deactivate" (click)="onDeactivate(currentUserId)" type="button">DEACTIVATE</button>
      <button mat-button *ngIf="!currentUserIsActive" class="activate" (click)="onActivate(currentUserId)" type="button">ACTIVATE</button>
    </div>
  </div>

</main>
