<app-sidebar></app-sidebar>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<main>
  <div class="content" *ngIf="!isLoading">
    <!--<form>-->
    <mat-chip-list *ngFor="let t of topics">
      <mat-chip>{{t.name}}</mat-chip>
    </mat-chip-list>
      <h1>{{ title }}</h1>
      <!--<mat-form-field class="form__textarea">-->
        <p>{{content}}</p>
    <!--</mat-form-field>-->
      <h2>Posted:  {{dateTimePosted | date:'mediumDate'}} {{dateTimePosted | date:'shortTime'}}</h2>

    <h3>Author: <a [routerLink]="['/speaker-profile',author.id]">
        {{author.firstName}} {{author.lastName}}</a></h3>
    <!--</form>-->
    <app-comment-section [article_author_id1]="author.id"></app-comment-section>
  </div>

</main>
