<app-sidebar></app-sidebar>
<main>
  <div class="content">
    <!--<form>-->
      <mat-chip-list aria-label="Topic">
        <mat-chip>Business</mat-chip>
        <mat-chip>Health</mat-chip>
      </mat-chip-list>
      <h1>{{ Title }}</h1>
      <!--<mat-form-field class="form__textarea">-->
        <p>{{Content}}</p>
    <!--</mat-form-field>-->
      <h2>Posted: 28 October at 9:32 PM</h2>
      <h3>Author: <a [routerLink]="['/speaker-profile',user.id]">
        {{user.firstName}} {{user.lastName}}</a></h3>
    <!--</form>-->
    <app-comment-section></app-comment-section>
  </div>

</main>
