<div>
  <h1 class="form__headline"> Register speaker</h1>
  <main>
    <div class="content">
      <form [formGroup]="registrForm" #regForm="ngForm" (ngSubmit)="onSubmit()">
        <p class="form__headline">Login</p>
        <input class="form__input" matInput formControlName="login" type="text" placeholder="Login" required/>
        <p class="form__headline">E-mail</p>
        <input class="form__input" matInput formControlName="email" type="email" placeholder="E-mail" ngModel email required/>
        <p class="form__headline">Password</p>
        <input type="password" class="form__input password" matInput formControlName="password" placeholder="Create password" required>
        <div class="complexity">
          <div class="complexity__item"></div>
          <div class="complexity__item"></div>
          <div class="complexity__item"></div>
        </div>
        <input type="password" class="form__input" placeholder="Confirm password">
        <button class="form__button" type="submit" [disabled]="!regForm.valid" disabled>Sign Up</button>
      </form>
    </div>
  </main>
</div>
