

<input type="button" value="Add new topic" class="addbtn btn_my" [disabled]="isDisabledAddButton()" (click)="addTopic()" />

<div class="message_or_error">{{statusMessageT}}</div>
<table>
  <tbody>
  <tr *ngFor="let topic of topics">
    <ng-template [ngTemplateOutlet]="loadTemplateT(topic)"
                 [ngTemplateOutletContext]="{ $implicit: topic}">
    </ng-template>
  </tr>
  </tbody>
</table>
<ng-template #readOnlyTemplate let-topic>
  <td>{{topic.name}}</td>
  <td>
    <input type="button" value="Edit" class="btnedit btn_my" (click)="editTopic(topic)" />
  </td>
  <td>
    <input type="button" value="Delete" (click)="deleteTopic(topic)" class="btn_my btn_delete" />
  </td>
</ng-template>
<ng-template #editTemplate>
  <td>
    <input type="text" [(ngModel)]="editedTopic.name" class="input_form" />
  </td>
  <td>
    <input type="button" value="Save"  [disabled] = "editedTopic.name===''" (click)="saveTopic()" class="btn_my btn_good" />
  </td>
  <td>
    <input type="button" value="Cancel changes" (click)="cancelT()" class="btn_my btn_warning" />
  </td>
</ng-template>
