<app-sidebar></app-sidebar>
<main>
  <div class="content">
    <form>
      <div class="user__personal personal-active">
        <div class="user__change">
          <div class="form__user">
            <div class="change__form">
              <p class="change__form--text">First Name:</p>
              <p class="form--text">{{firstName}}</p>
            </div>
            <div class="change__form">
              <p class="change__form--text">Last Name:</p>
              <p class="form--text">{{lastName}}</p>
            </div>
          </div>
          <div class="form__user">
            <div class="change__form">
              <p class="change__form--text">Login:</p>
              <p class="form--text">{{login}}</p>
            </div>
            <div class="change__form">
              <p class="change__form--text">Email:</p>
              <p class="form--text" >{{email}}</p>
            </div>
          </div>
          <div class="change__form">
            <p class="change__form--text">about:</p>
            <p class="form--text" >{{about}}</p>
          </div>
          <div class="form__user">
            <div class="change__form">
              <p class="change__form--text">languages:</p>
              <p class="form--text" *ngFor="let item of langList" >{{item}}</p>
            </div>
          </div>
        </div>
        <div class="user__badges">
          <star-rating class="user__img--change" value="3.3" checkedcolor="gold" uncheckedcolor="#dddddd" size="24px"
                       readonly="false" (rate)="onRate($event)"></star-rating>
          <div class="badges--header">
            <img class="header--img" src="../../assets/images/crown.svg">
            <span class="header--text">BADGES</span>
          </div>
          <div class="badges">
            <span *ngIf="badgeList.length<1" class="badges--text">This speaker haven`t badges</span>
            <div class="badge" *ngFor="let badge of badgeList">
              <img class="badge--img" src="../../assets/images/medal.svg">
              <span class="badges--text">{{badge}}</span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</main>
