main{
  width:60%;
  height: auto;
  margin: auto;
  .header{
    margin: auto;
    padding: 2rem;
    .title{
      font-size: xx-large;
      font-family: 'UbuntuMono', monospace;
    }
    .speaker{
      color: #008CBA;
      float:left;
    }
    .detailSpeaker{
      font-style: italic;
      float:left;
      margin-right: 10px;
    }
  }

  .info{
    width: 39%;
    float: right;
    margin-top: 1rem;
    .line{
      float: left;
      display: block;
      width: 100%;
      mat-icon{
        float: left;
        margin-right: 10px;
      }
      mat-card-subtitle{
        float: left;
        margin: 5px 10px;
      }
    }

  }
  .details{
    float: left;
    width: 60%;
    margin-top: 1rem;
    mat-card-title{
      font-family: 'UbuntuMono', monospace;
    }
  }
  @media screen and (max-width: 1400px){
    .details, .info{
      width: 100%
    }
  }
}
